body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
select, input, button {
    padding: 10px;
    font-size: 1rem;
}
/* Ensure the parent container has relative positioning */
.form-group {
    position: relative;
}

/* Ensure the Select2 container takes the full width */
.select2-container {
    width: 100%;
}

/* Adjust the dropdown list to ensure it's positioned correctly */
.select2-container--default .select2-results {
    background-color: white;
    max-height: 180px; /* Limit height of the dropdown */
    position: absolute; /* Ensure the dropdown is positioned below */
    overflow-y: hidden;
    top: 100%; /* Position directly below the input */
    left: 0; /* Align with the left edge of the input */
    width: 100%; /* Match the width of the input */
}

/* New styles for result */
#result {
    font-size: 1.5rem; /* Increase font size */
    color: #333; /* Optional: Change color for better visibility */
}

.toast {
    background-color: #2780e3;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: auto; /* Adjust width to content */
    max-width: 100%; /* Ensure it doesn't exceed screen width */
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Ensure it's above other content */
}

.toast-body {
    font-size: 0.7rem;
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }
}

